.button {
  width: 90px;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 0.2rem;

  transition: 1s ease-in;

  outline-style: none;
}

.pre {
  font-size: 10px;
}

.primary {
  background-color: rgb(20, 206, 150);
  color: white;
  border: none;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.third-outline {
  border: 0px solid;
  color: rgb(134, 134, 134);

  color: linear-gradient(
    90deg,
    rgba(97, 17, 189, 1) 0%,
    rgba(97, 17, 189, 0.7133228291316527) 0%,
    rgba(97, 17, 189, 0.6320903361344538) 100%
  );
}

.primary-outline {
  background-color: transparent;
  color: rgb(20, 206, 150);

  border: 1px solid;
  border-color: rgb(20, 206, 150);
}
.half {
  width: 49%;
  margin: 0;
}

.dual {
  display: flex;
  border: 0px solid;
  margin: 5px 0;

  justify-content: space-between;
}

.locked {
  background-color: rgb(179, 179, 179);
  color: white;
}

.options {
  border: 0px solid;
  display: flex;
  flex-direction: column;
}
.full {
  margin: 0;
  width: 100%;
}
.secondary {
  background: rgb(28, 122, 151);
  color: white;
}
.secondary-outline {
  border: 1px solid;
  color: rgb(28, 122, 151);
  border-color: rgb(28, 122, 151);
}
.danger-outline {
  background-color: transparent;
  color: rgb(219, 12, 12);

  border: 1px solid;
  border-color: rgb(219, 12, 12);
}

.danger {
  background: rgb(219, 12, 12);
  color: white;
}
.button:hover {
  transform: scale(1.05);
  outline-color: green;
}
