.project {
  display: flex;
  flex-direction: column;
  border: 0px solid;
  width: 500px;
  height: 800px;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
img {
  width: 100%;
  height: 300px;
  border-radius: 0.2rem;
  border: none;
}

.info {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  border: 0px solid;
}

.info h1 {
  font-size: 22px;
  margin: 10px 0;
}

.image {
  border: 0px solid;
  width: 450px;
  height: 300px;
}
