.App {
  /* background-color: rgb(218, 218, 218); */
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px;

  min-height: 100vh !important;
}

.split-screen {
  display: flex;
  height: 100%;
  min-height: 100% !important;
  border: 0px solid;
}
