.side-bar {
  height: 100% !important;
  display: flex;
  flex-direction: column;

  border-right: 1px solid;
  border-radius: 0;

  border-color: rgba(64, 194, 133, 0.693);
  background-color: rgb(255, 255, 255);
  transition: 0.8s ease;
}

.side-bar .content {
  overflow-y: scroll;
  scrollbar-width: 0 !important;
  scrollbar-color: white !important;
}

.toggle-menu {
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 10px;
  transition: 0.8s ease;
  position: absolute;
  outline: none;
  z-index: 1;
  border-color: rgb(197, 197, 197);
  background-color: rgba(64, 194, 133, 0.693);
  border-color: rgba(64, 194, 133, 0.693);
  border-left: 0;
}
